In [2]:
# Write a program to print numbers from 1 to 10 using a for loop.
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [3]:
# Write a program to print the multiplication table of a given number using a while loop.
n = int(input('Enter the number to print table for :'))
for i in range (1,11):
    print(f'{n} X {i} = {n*i}')

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [7]:
# Write a program to find the sum of all even numbers between 1 and 100 using a for loop.

sum=0
for i in range(2,100,2):
    sum += i
print(sum)

2450

In [16]:
#Write a program to check if a given number is prime or not using a while loop.
n = int(input('enter the number you want to check'))
a = int(n**(1/2))+1
while(a>1):
    if n%a == 0:
        print('not prime the number is divisible by ',a)
        break
    a-=1
    if(a==1):
        print('prime')

prime

In [20]:
# Write a program to calculate the factorial of a number using a for loop.
n = int(input('enter the number you want to calculate factorial'))
f =1
if n >0:
    for i in range (n,1,-1):
     f*=i
    print(f)

120

In [29]:
# Write a program to print the Fibonacci series up to a given limit using a while loop.
n = int(input('enter the limit of fibonacci series'))
a = 1
b = 0
print('0 ',end='')
while( a < n):
    print('+',a,end=' ')
    temp = a
    a +=b
    b = temp

0 + 1 + 1 + 2 + 3 + 5 + 8 + 13

In [33]:
#Write a program to find the largest element in an array using a for loop.
a = [12,23,53,1,13,23,-12,342,123,532,34,999]
for i in a:
    max = i if i > max else max
print(max)

999

In [40]:
# Write a program to reverse a given string using a while loop.
s = 'iuqwaiurnvq qirqo qrhq '
rs = ''
while(s != ''):
    rs+= s[-1]
    s= s[:-1]
print(rs)

 qhrq oqriq qvnruiawqui

In [44]:
#Write a program to print the ASCII values of all uppercase letters using a for loop.

for a in range (ord('A'),ord('Z')):
    print(a)

65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89

In [71]:
#Write a program to check if a given string is a palindrome using a while loop.
stri = input('enter the string')
stri = stri.strip()
while(stri!=''):
    s1 = stri[0]
    s2 = stri[-1]
    if(s1!=s2):
        print('not a palindrome')
        break
    stri = stri[1:-1]
else:
    print('palindrome')

palindrome

In [61]:
#Write a program to find the smallest element in an array using a while loop.
a = [12,23,53,1,13,23,-12,342,123,532,34,999]
min = float('inf')
while(a):
    min = a[-1] if a[-1]<min else min
    a.pop()
print(min)

-12

In [58]:
# Write a program to calculate the average of a list of numbers using a for loop.
a = [12,23,53,1,13,23,-12,342,123,532,34,999]
sum =0
for i in a:
    sum += i
print(sum//len(a))

178

In [8]:
# Write a program to calculate the sum of digits of a number using a for loop.
n = int(input('enter the number'))
n = str(n)
s = 0
for i in n:
    s += int(i)
print(s)

45

In [13]:
# Write a program to check if a given year is a leap year using a while loop.
n = int(input('enter the year'))
while(n%4==0):
    if n%400 ==0:
        print('leap year')
        break
    elif n%100 ==0:
        print('not a leap year')
        break
    else:
        print('leap year')
        break
else:
    print('not a leap year')

leap year

In [19]:
# Write a program to print the multiplication table of numbers from 1 to 5 using a for loop.
for i in range (1,6):
    for j in range(1,11):
        print(f'{i} X {j} = {i*j}')
    print('-----------\n-----------')

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10
-----------
-----------
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
-----------
-----------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
-----------
-----------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
-----------
-----------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
-----------
-----------

In [20]:
# Write a program to find the factorial of a number using a while loop.
n = int(input('enter the number'))
f = 1
while(n>1):
    f*=n
    n-=1
print(f)

120

In [22]:
# Write a program to count the number of vowels in a given string using a for loop.
s = input('enter the string')
c = 0
for i in s.lower():
    if i in 'aeiou':
        c+=1
print(c)

5

# string




Print this string to move to newline '\n' is used. (results should look exactly like the provided string)
Print a variable with some text using a single print function, output should look like following.
the variable is 15
concatenate the following strings and print the result
s1 = 'python '
s2 = 'is '
s3 = 'great.'
Print # 20 times without using a loop
Print numbers from 1 to 9, each on a seperate line, followed by a dot, output should look like the following-
1.
2.
3.

Ask user to input a sentence and print each word on a different line.
Ask user to input a string and check if the string ends with '?'
Ask user to input a string and print how many times e appeared in the string
Check if the user input is a number.
Remove the extra spaces in beginning and in the end of the following string-
text = '   this is not a good string           '
Ask user to input string, print found if any of the character is upper case.
Extract names from the following string and store them in a list.
names = 'Joe, David, Mark, Tom, Chris, Robert'
In the following string, add aye in the end of every word and print the results.
text = 'this is some text'
ask user to enter a string and check if the string contains fyi
Remove all the special characters and numbers from the following string
text = '%p34@y!*-*!t68h#&on404'
calculate the average word length of the following paragraph.

In [3]:
s = "heloo how are you"
s = s.split()
for i in s:
    print(i)

heloo
how
are
you

In [6]:
s = "hello world"
s = s[-1::-1]
print(s)

dlrow olleh

In [8]:
words = ['Python', 'is', 'easy', 'to', 'learn']
s = ''
for i in words:
    s = s+' '+i
print(s)

 Python is easy to learn

In [9]:
print('''hello my name is vyom
i am on a journey to change my life
will you join me''')

hello my name is vyom
i am on a journey to change my life
will you join me

In [11]:
print('#'*20)

####################

In [15]:
for i in range (1,10):
    print(f'{i}.')

1.
2.
3.
4.
5.
6.
7.
8.
9.

In [17]:
print(s.count('a'))

2

In [22]:
i = input('enter the string')
if(i.isnumeric()):
    print('yes')
else:
    print('no')

no

In [25]:
text = '   this is not a good string           '

text= text.strip()

In [31]:
i = input('enter the string')
for j in i:
    if( j.isupper()):
        print('found')
        break

found

In [49]:
names = 'Joe, David, Mark, Tom, Chris, Robert'
n = names.split(',')
n = list(map(str.strip,n))
n

['Joe', 'David', 'Mark', 'Tom', 'Chris', 'Robert']

In [59]:
names = 'Joe, David, Mark, Tom, Chris, Robert'
n = names.split(',')
striped = list([str.strip(i) for i in n])
for i in striped:
    print(i)

Joe
David
Mark
Tom
Chris
Robert

In [63]:
text = 'this is some text'
text.replace(' ','aye ')+'aye'

'thisaye isaye someaye textaye'

In [73]:
text = '%p34@y!*-*!t68h#&on404'
for i in text:
    if not(i.isalnum):
        text = text.remove(i,1)
text

'%p34@y!*-*!t68h#&on404'