In [19]:
name = input("Enter the name :")
city = input("enter the name of you city: ")

In [20]:
age = int(input("enter your age:"))

In [9]:
p = int(input("Enter the principle amount"))
t = int(input("enter the time in yrs"))
r = int(input("enter the rate pa"))
print("simple intrest:",p*t*r/100)

simple intrest 200.0

In [13]:
print("simple intrest:",int(input("Enter the principle amount"))*int(input("enter the time in yrs"))*int(input("enter the rate pa"))//100,"ðŸ¤‘")

simple intrest: 20 ðŸ¤‘

In [1]:
name1 = "hello"
sname = "world"
print(name1,sname, sep = "\n")

hello
world

In [21]:

print("my name is "+name1,sname, sep = "--", end="\n\n")
print("age is 56")

my name is vyom--world

age is 56

In [7]:
#formatable string 
a = 500
b = 200
print("a + b = a+b")
print(f"{a} + {b} = {a+b}")

a + b = a+b
500 + 200 = 700

In [38]:
#round off and decimal control
a = 10
b = 3
c = a/b
print(f"{a}/{b} = {a//b}")
print(f"{a}/{b} = {a/b:.5f}")
print(c)
print(f"{c:.2f}")

10/3 = 3
10/3 = 3.33333
3.3333333333333335
3.33

In [29]:
#better readability and spacing
print(f"name   {name}")
print(f"city   {city}")
print(f"age    {age}")
#using : 
print(f"{'name':10}{name}")
print(f"{'city':10}{city}")
print(f"{'age in years':10}{age}")
#right alingment
print(f"{'name':10}{name:>35}")
print(f"{'city':10}{city:>35}")
print(f"{'age in years':10}{age:>35}")
#center allingment uses ^
print(f"{'name':10}{name:^35}")
print(f"{'city':10}{city:^35}")
print(f"{'age in years':10}{age:^35}")
#we can use these in variables too

name   vyom
city   Lucknow
age    21
name      vyom
city      Lucknow
age in years21
name                                     vyom
city                                  Lucknow
age in years                                 21
name                     vyom
city                    Lucknow
age in years                21

In [37]:
#pythagorus theorem
base = float(input("enter the base"))
height = float(input("enter the height"))
print(f'{((base**2+height**2)**.5):.2f}')
# print(((base**2+height**2)**.5):.2f)

781.79